<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <div class="container">
            TECHMUNCH
        </div>

    </a>
</nav>
<div class="container">
    <ul>
        <div class="row">
            {{#each articles}}
            <div class="col-xs-6 col-md-4">
                <li class="card" data-href="{{this.url}}" data-id="{{this._id}}">
                    <div class="card-img">
                        <div class="myOverlay" data-id="{{this._id}}">
                            <a href="#" data-toggle="modal" data-target="#articleModal">COMMENT
                                <span>
                                    <img src="/assets/img/comments.png" data-id="{{this._id}}">
                                </span>
                            </a>
                        </div>
                        {{#if this.imgUrl}}
                        <img src="{{this.imgUrl}}" /> {{/if}} 
                        {{#else}} {{!-- change this url to placholder vvvvvvvvvvvvvvvvvvvvvvvvvvvv --}}
                        <img src="{{this.imgUrl}}" /> 
                        {{/else}}
                    </div>

                    <p class="mb-0">
                        <a href="{{this.url}}" <strong>{{this.title}}</strong>
                        </a>
                    </p>
                    <p class="mt-0">
                        <em>By {{this.author}}</em>
                    </p>
                    <p>{{this.summary}}</p>
                </li>
            </div>

            {{/each }}
        </div>
    </ul>
</div>
{{!-- MODAL --}}
<div class="modal" tabindex="-1" role="dialog" id="articleModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" id="commentContainer"></div>
            </div>
            <div class="modal-footer">
                <input type="text" placeholder=" Leave a comment">
                <button type="button" class="btn btn-primary" id="saveComment">Save Comment</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        max-width: 300px;
        height: 350px;
        font-size: 12px;
        margin: 10px;
        overflow: hidden;
        transition: all .1s linear;
    }

    .card-img {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 160px;
    }

    .card img {
        width: 100%;
        height: auto;
        max-height: 160px;
    }

    .card a {
        color: white;
    }

    .card p a {
        color: black;
        font-weight: bold;
    }

    .card:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .card:hover p a {
        text-decoration: underline;
    }

    .card:hover .myOverlay {
        visibility: visible;
        background: rgba(0, 0, 0, 0.8);
    }

    p {
        margin: 10px;
    }

    .myOverlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 160px;
        z-index: 2;
        transition: all .1s linear;
        visibility: hidden;
        color: rgba(255, 255, 255, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .myOverlay img {
        width: 15px;
        height: 15px;
    }

    .myOverlay:hover a {
        text-decoration: underline;
    }

    .commentCard {
        padding: 0px 10px;
        width: 100%;
        min-height: 40px;
        border-bottom: 1px solid grey;
        font-size: 14px;
    }

    .modal-footer input {
        width: 80%;
    }
</style>
<script>
    $(document).ready(function () {
        $articleModal = $('#articleModal');
        const commentContainer = document.querySelector('#commentContainer');
        const cards = document.querySelectorAll('.card');
        cards.forEach((card) => {

            card.addEventListener('click', function (evt) {
                console.log('click');
                window.location.href = evt.currentTarget.getAttribute('data-href');

            });

            card.querySelector('.myOverlay').addEventListener('click', function (evt) {
                evt.preventDefault();
                evt.stopImmediatePropagation();
                const id = evt.target.getAttribute('data-id') || evt.target.parentNode.getAttribute('data-id');
                console.log(id);
                $articleModal.modal('toggle');

                while (commentContainer.firstChild) commentContainer.removeChild(commentContainer.firstChild);
                document.querySelector('#saveComment').setAttribute('data-currentArticleId', id);

                fetch(`http://morning-plains-89336.herokuapp.com//articles/${id}`)
                    .then((response) => {
                        return response.json();
                    })
                    .then((json) => {
                        console.log(json);

                        json[0].comments.forEach((comment) => {
                            var newComment = document.createElement('div');
                            newComment.classList.add('commentCard');
                            var commentText = document.createElement('p');
                            commentText.textContent = comment;
                            newComment.appendChild(commentText);
                            commentContainer.appendChild(newComment);
                        });
                    })
                    .catch((err) => {
                        console.log(err);
                    });
            });

        });
        const saveComment = document.querySelector('#saveComment');
        saveComment.addEventListener('click', function (evt) {
            const comment = document.querySelector('.modal-footer input').value;
            const article_id = evt.target.getAttribute('data-currentArticleId');
            const body = JSON.stringify({
                comment,
                article_id
            });
            console.log(body);
            console.log(comment);
            fetch('http://morning-plains-89336.herokuapp.com/comment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body,
            })
                .then((data) => {
                    console.log('Request success: ', data);
                    document.querySelector('.modal-footer input').value = '';
                    var newComment = document.createElement('div');
                    newComment.classList.add('commentCard');
                    var commentText = document.createElement('p');
                    commentText.textContent = comment;
                    newComment.appendChild(commentText);
                    commentContainer.appendChild(newComment);
                })
                .catch((error) => {
                    console.log('Request failure: ', error);
                });
        });

    });

</script>