<div class="container">
    <h3>All Articles</h3>
    <ul>
        <div class="row">
            {{#each articles}}
            <div class="col-xs-6 col-md-4">
                <li class="card" data-href="{{this.url}}">
                    <div class="card-img">
                        <div class="myOverlay"><a href="#" data-toggle="modal" data-target="#articleModal">COMMENT <span><img src="/assets/img/comments.png"></span></a></div>
                        {{#if this.imgUrl}}
                        <img src="{{this.imgUrl}}" /> 
                        {{/if}} 
                        {{#else}} {{!-- change this url to placholder vvvvvvvvvvvvvvvvvvvvvvvvvvvv --}}
                        <img src="{{this.imgUrl}}" /> 
                        {{/else}}
                    </div>

                    <p class="mb-0">
                        <a href="{{this.url}}"<strong>{{this.title}}</strong></a>
                    </p>
                    <p class="mt-0">
                        <em>By {{this.author}}</em>
                    </p>
                    <p>{{this.summary}}</p>
                </li>
            </div>

            {{/each }}
        </div>
    </ul>
</div>
{{!-- MODAL --}}
<div class="modal" tabindex="-1" role="dialog" id="articleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .card {
        max-width: 300px;
        height: 350px;
        font-size: 12px;
        margin: 10px;
        overflow: hidden;
        transition: all .1s linear;
    }

    .card-img {
        position: relative;
        width: 100%;
        height: auto;
        max-height: 160px;
    }

    .card img {
        width: 100%;
        height: auto;
        max-height: 160px;
    }

    .card a {
        color: white;
    }

    .card p a {
        color: black;
        font-weight: bold;
    }

    .card:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .card:hover p a {
        text-decoration: underline;
    }

    .card:hover .myOverlay {
        visibility: visible;
        background: rgba(0, 0, 0, 0.8);
    }

    p {
        margin: 10px;
    }

    .myOverlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 160px;
        z-index: 2;
        transition: all .1s linear;
        visibility: hidden;
        color: rgba(255, 255, 255, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .myOverlay img {
        width: 15px;
        height: 15px;
    }

    .myOverlay:hover a{
        text-decoration: underline;
    }
</style>
<script>
    const cards = document.querySelectorAll('.card');
    cards.forEach((card) => {
        card.addEventListener('click', function (evt) {
            console.log('click');
            window.location.href = evt.currentTarget.getAttribute('data-href');

        });

        card.querySelector('.myOverlay').addEventListener('click', function (evt) {
            evt.preventDefault();
            evt.stopImmediatePropagation();
            $('#articleModal').modal('toggle');
        });
    });
</script>